<head>
  <meta charset="UTF-8">
  <title>{% if page.title %}{{ page.title | strip_html }} &#8211; {% endif %}{{ site.title | strip_html }}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | xml_escape }}{% elsif page.summary %}{{ page.summary | xml_escape }}{% else %}{{ site.description | xml_escape }}{% endif %}">

  <base href="/">

  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  <link href="/stylesheets/prism.css" rel="stylesheet" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

  <!-- Open Graph -->
  <meta property="og:locale" content="{{ site.text.og_locale }}">
  <meta property="og:type" content="article">
  <meta property="og:title"
    content="{% if page.title %}{{ page.title | xml_escape }}{% else %}{{ site.title | xml_escape }}{% endif %}">
  <meta property="og:description"
    content="{% if page.description %}{{ page.description | xml_escape }}{% else %}{{ site.description | xml_escape }}{% endif %}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:site_name" content="{{ site.title | xml_escape }}">
  
  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary" />
  {% if site.twitter_username %}
  <meta name="twitter:site" content="@{{ site.twitter_username }}" />
  {% endif %}
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta name="twitter:description" content="{% if page.summary %}{{ page.summary }}{% else %}{{ site.description }}{% endif %}" />
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}" />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142481050-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-142481050-1');
  </script>
</head>
