<header class="site-header animate one">
  <div id="logo" class="site-branding">
    <a href="/"><img src="images/logo-automat.svg" alt="Automat-Logo"></a>
  </div>

  <nav id="site-navigation" class="main-navigation" role="navigation">
    <div id="hamburger-menu" class="menu-toggle"><span>Menu</span></div>

    <ul class="menu">
      <div id="menu-open-logo" class="site-branding-menu-open">
        <a href="/"><img src="images/logo-automat-white.svg" alt="Automat-Logo klein"></a>
      </div>
      <li class="menu-item">
        <a class="border-animation menu-anchor" href="#factory">Factory</a>
      </li>
      <li class="menu-item">
        <a class="border-animation menu-anchor" href="#workshop">Workshop</a>
      </li>
      <li class="menu-item">
        <a class="border-animation menu-anchor" href="/posts">Blog</a>
      </li>
      <li class="menu-item">
        <a class="border-animation menu-anchor" href="/jobs">Jobs</a>
      </li>
      <li class="menu-item">
        <a class="border-animation menu-anchor" href="/contact">Contact | Imprint</a>
      </li>
    </ul>
  </nav>
</header>
