<div class="pagination clearfix mb1 mt4">
  <div class="left">
    {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
    <a class="pagination-item" href="{{ site.baseurl }}/">{{ site.text.pagination.newer }}</a>
    {% else %}
    <a class="pagination-item" href="{{ paginator.previous_page_path }}">{{ site.text.pagination.newer }}</a>
    {% endif %}
    {% else %}
    <span class="pagination-item disabled">{{ site.text.pagination.newer }}</span>
    {% endif %}
  </div>
{% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Previous</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}
{% for page in (1..paginator.total_pages) %}
{% if page == paginator.page %}
    {{ page }}
    {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | relative_url }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
{% endfor %}
{% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
  <div class="right">
    {% if paginator.next_page %}
    <a class="pagination-item" href="{{ paginator.next_page_path }}">{{ site.text.pagination.older }}</a>
    {% else %}
    <span class="pagination-item disabled">{{ site.text.pagination.older }}</span>
    {% endif %}
  </div>
</div>
