<div class="pagination clearfix mb1 mt4">
  {% if paginator.previous_page %}
    <a class="pagination-item" href="{{ paginator.previous_page_path | relative_url }}"><img src="images/prev-arrow-orange.svg"></a>
  {% else %}
    <img class="pagination-item" src="images/prev-arrow-orange.svg">
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="pagination-item pagination-orange">{{ page }}</span>
    {% elsif page == 1 %}
      <a class="pagination-item pagination-grey" href="/posts">{{ page }}</a>
    {% else %}
      <a class="pagination-item pagination-grey" href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}
  
  {% if paginator.next_page %}
    <a class="pagination-item" href="{{ paginator.next_page_path | relative_url }}"><img src="images/next-arrow-orange.svg"></a>
  {% else %}
    <img class="pagination-item" src="images/next-arrow-orange.svg">
  {% endif %}
</div>
